/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&family=PT+Serif');

/* colors */
:root {
	--background-color: #f7f5f2;
	--inset-background-color: #632A3E;
	--inset-highlight-color: #e8b9c4;
	--inset-text-color: #efece8;
	--link-color: #893A55;
	--link-hover-color: #AF4A6D;
	--heading-color: #f99a34;
	--secondary-heading-color: #af2f4d;
	--copy-text-color: #2b1103;
}

/* resets */
html, body {
	padding: 0;
	margin: 0;
	border: 0;
}
* {
	box-sizing: border-box;
}

/* overall styles */
body {
	background-color: var(--background-color);
	color: var(--copy-text-color);
	font-size: 16px;
	line-height: 1.75;
	font-family: 'PT Serif', serif;
}

/* general text stuff */
h1, h2, h3 {
	color: var(--heading-color);
	font-family: 'Inter', sans-serif;
	font-weight: 800;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	color: var(--secondary-heading-color);
	font-size: 1.25rem;
}

a {
	text-decoration: none;
	color: var(--link-color);
}
a:hover {
	text-decoration: underline;
	color: var(--link-hover-color);
}

.inset {
	background-color: var(--inset-background-color);
	color: var(--inset-text-color);
}
.inset a {
	color: var(--inset-highlight-color);
}

/* layout */
