/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&family=PT+Serif:ital,wght@0,400;1,700');

/* colors */
:root {
	--background-color: #f7f5f2;
	--inset-background-color: #632A3E;
	--inset-highlight-color: #e8b9c4;
	--inset-text-color: #efd9bd;
	--link-color: #893A55;
	--link-hover-color: #AF4A6D;
	--heading-color: #f99a34;
	--secondary-heading-color: #af2f4d;
	--copy-text-color: #2b1103;
	--sans-font: 'Inter', sans-serif;
	--serif-font: 'PT Serif', serif;
}

/* resets */
html, body {
	padding: 0;
	margin: 0;
	border: 0;
}
* {
	box-sizing: border-box;
}

/* overall styles */
body {
	background-color: var(--background-color);
	color: var(--copy-text-color);
	font-size: 16px;
	line-height: 1.75;
	font-family: var(--serif-font);
}

/* general text stuff */
h1, h2, h3 {
	margin: 0;
	margin-top: 1em;
	color: var(--heading-color);
	font-family: var(--sans-font);
	font-weight: 800;
	clear: both;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	color: var(--secondary-heading-color);
	font-size: 1.25rem;
}

a {
	text-decoration: none;
	color: var(--link-color);
}
a:hover {
	text-decoration: underline;
	color: var(--link-hover-color);
}

.inset {
	font-family: var(--sans-font);
	background-color: var(--inset-background-color);
	color: var(--inset-text-color);
}
.inset a {
	color: var(--inset-highlight-color);
}

/* header */
header {
	padding: 3rem;
	padding-bottom: 0;
	margin: 0;
}

header h1 {
	margin: -1rem 0;
}

.city-title {
	color: var(--inset-highlight-color);
	font-weight: 300;
	padding-left: 11rem;
}

.header-img {
	width: 10rem;
	height: 10rem;
	object-fit: cover;
	clip-path: circle(at center);
	position: absolute;
	transform: translateY(-7rem);
}


/* header > nav */
nav ol {
	padding-left: 11.3rem;
	margin: 0;
}

.inset nav a {
	color: var(--inset-text-color);
	font-size: 1.25rem;
}

nav li {
	display: inline-block;
	margin-right: 2rem;
}

nav .active {
	font-weight: 800;
}

/* layout */
.container {
	padding: 3rem 0;
	display: grid;
	grid-template-columns: 1fr min(128ch, calc(100% - 64px)) 1fr;
	grid-column-gap: 32px;
}
.container > * {
  grid-column: 2;
}

/* general layout stuff */
.left {
	float: left;
}
.right {
	float: right;
}
.two-fifths {
	width: 40%;
}

/* specific things */
.demographics {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-column-gap: 32px;
}

table, td {
	border-collapse: collapse;
	border: 3px solid var(--inset-background-color);
	font-family: var(--sans-font);
	padding: 0.5rem;
}

tr:nth-child(odd) {
  background-color: var(--inset-text-color);
  font-weight: 800;
}
