*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header and menu */
.menu, header {
    margin: 0 auto;
    background-color:#632A3E;/*#835c46;*/
    text-align:center;
    padding: 0 300px 0 300px;
}

h1{
    color:white;
    padding: 15px 10px 10px 10px;
    font-size: 50px;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    border-bottom: 1px solid white;
}

.subtitle{
    color:white;
    padding: 15px 0px;
    font-size: 20px;
}

.menu ul{list-style-type: none;}

.menu li{
    color:rgb(144, 221, 204);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: inline-block;
    padding: 10px 20px;
}

a:hover {color: #688770;}
.menu a, footer a{color: bisque;}
a{
    text-decoration: none;
}

/* footer */
footer{
    background-color: #632A3E;/*#835c46;*/
    color:white;
    clear:both;
    text-align:center;
    padding: 10px;
    font-size: 15px;
    line-height: 20px;
}

/* Content */
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1050px;
}

section {
    display: inline-block;
    margin: 10px;
    padding: 10px;
  }

.subsection{
    border-bottom: 1px solid rgb(194, 204, 195);
}

section ul {
    padding: 20px;
    background-color:#eeeeee;
    margin: 15px;
    list-style-type: none;
    font-size: 15px;
    line-height: 25px;
  }

.left {
    float: left;
    padding: 20px;
  }
.right {
    float: right;
    padding: 20px 10px;
  }

h2{
    font-size: 25px;
    background-color: #9b7c5f;
	  opacity: 0.7;
	  box-shadow: 5px 5px 10px 0 #cccccc;
    border-radius: 5px;
    color: white;
	  letter-spacing: 1px;
	  font-weight: normal;
	  padding: 10px;
    padding: 5px 10px;
 }

#inline {display: inline-block;}

img { padding-top: 10px; }

.center{
    text-align: center;
}

p{
    margin: 20px 20px;
    font-size: 15px;
    line-height: 25px;
}

#twin{
    padding: 15px;
}
#space { padding-top: 25px; }

.year{
    font-style: italic;
    display: inline-block;
}

figcaption { font-size: 14px;}
